# things we need to install first to make the things we want to install
# install even though... oh I don't know... I've never understood python
# packaging...

boto
geojson
atomicwrites
shapely
requests
deepdiff
tenacity        # TBD - does the default system/ubuntu installation of six play nice with this (20170720/thisisaaronland)

git+https://github.com/whosonfirst/py-machinetag
git+https://github.com/whosonfirst/py-mapzen-whosonfirst-machinetag
git+https://github.com/whosonfirst/py-mapzen-whosonfirst-elasticsearch

# things we are actually trying to install...

git+https://github.com/whosonfirst/py-mapzen-whosonfirst-bundles
git+https://github.com/whosonfirst/py-mapzen-whosonfirst-diff
git+https://github.com/whosonfirst/py-mapzen-whosonfirst-export
git+https://github.com/whosonfirst/py-mapzen-whosonfirst-geojson
git+https://github.com/whosonfirst/py-mapzen-whosonfirst-git
git+https://github.com/whosonfirst/py-mapzen-whosonfirst-languages
git+https://github.com/whosonfirst/py-mapzen-whosonfirst-mapshaper
git+https://github.com/whosonfirst/py-mapzen-whosonfirst-meta
git+https://github.com/whosonfirst/py-mapzen-whosonfirst-names
git+https://github.com/whosonfirst/py-mapzen-whosonfirst-pip
git+https://github.com/whosonfirst/py-mapzen-whosonfirst-placetypes
git+https://github.com/whosonfirst/py-mapzen-whosonfirst-search
git+https://github.com/whosonfirst/py-mapzen-whosonfirst-sources
git+https://github.com/whosonfirst/py-mapzen-whosonfirst-uri
git+https://github.com/whosonfirst/py-mapzen-whosonfirst-utils
git+https://github.com/whosonfirst/py-mapzen-whosonfirst-validator
git+https://github.com/whosonfirst/py-mapzen-whosonfirst-properties
git+https://github.com/whosonfirst/py-mapzen-whosonfirst-hierarchy
git+https://github.com/whosonfirst/py-mapzen-whosonfirst-spatial
git+https://github.com/whosonfirst/py-mapzen-whosonfirst-index
